<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Student Login</h2>

    <form method="POST">
        <input type="text" name="reg" placeholder="Register Number" required>
        <input type="date" name="dob" required>
        <button type="submit">Login</button>
    </form>

    <!-- 👇 ADD HERE -->
    <br>
    <a href="/register">
        <button type="button">New User? Register</button>
    </a>

</div>

</body>
</html>